@using Template5.ViewModels
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutTemplate5.cshtml";
}

@model List<ProductView>

@foreach(var item in Model)
{
    <div class="product-item men">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img src="@Url.Content("~/template/images/" + @item.AnhDaiDien)" alt="@item.TenSP" />
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div
                      class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
                    >
                      <span>-$20</span>
                    </div>
                    <div class="product_info">
                      <h6 class="product_name">
                        <a href="single.html"
                          >@item.TenSP</a
                        >
                      </h6>
                      <div class="product_price">
                        @item.DonGiaBan
                      </div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button">
                    <a asp-action="XoaSanPham" asp-controller="Home" asp-route-maSanPham="@item.MaSP">remove</a>
                  </div>
                </div>
}